[submodule "custom_nodes/ComfyUI-Manager"]
	path = custom_nodes/ComfyUI-Manager
	url = https://github.com/ltdrdata/ComfyUI-Manager.git
[submodule "custom_nodes/ComfyUI_Comfyroll_CustomNodes"]
	path = custom_nodes/ComfyUI_Comfyroll_CustomNodes
	url = https://github.com/Suzie1/ComfyUI_Comfyroll_CustomNodes
[submodule "custom_nodes/comfyui_controlnet_aux"]
	path = custom_nodes/comfyui_controlnet_aux
	url = https://github.com/Fannovel16/comfyui_controlnet_aux
[submodule "custom_nodes/SeargeSDXL"]
	path = custom_nodes/SeargeSDXL
	url = https://github.com/SeargeDP/SeargeSDXL
[submodule "custom_nodes/was-node-suite-comfyui"]
	path = custom_nodes/was-node-suite-comfyui
	url = https://github.com/WASasquatch/was-node-suite-comfyui
